<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zxx"> <!--<![endif]-->

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Art Sound Group">
	
	<!-- Title -->
    <title>Crystal - Coming Soon Template</title>
	
	<!-- Seo Tags -->
	<meta name="description" content="Your page description here" />
	<meta name="keywords" content="Your meta keywords, here"/>
	<meta name="robots" content="index, follow"> 

	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

	<!-- General CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">

	<!-- Color Style -->
	<!-- <link rel="stylesheet" href="assets/css/colors/gold.css" type="text/css"> -->

</head>
<body class="bg-dark">

	<!-- Preloader  -->
	<div class="loader bg-black">
		<div id="preload-content">
			<div id="spinner"></div>
			<div class="loading">Crystal Is Loading...</div>
		</div>
	</div>
	<!-- End Preloader  -->


<!-- PAGE  -->
<div id="page">

	<!-- Background -->
	<div class="body-youtube overlay ">
		<a id="bg-video" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=nKh519UqFzE&t=8s',containment:'body',autoPlay:true, mute:false, startAt:0, stopAt:0, showControls:false, showYTLogo:false, vol:50, opacity:0.5}"></a>
		<div id="slider"></div>
	</div>
		<nav id="player-nav">
			<ul>
				<li data-toggle="tooltip" data-placement="top" data-title="Play" data-trigger="hover"> 
					<a onclick="$('#bg-video').playYTP()"><i class="fa fa-play"></i></a>
				</li>
				<li data-toggle="tooltip" data-placement="top" data-title="Pause" data-trigger="hover"> 
					<a onclick="$('#bg-video').pauseYTP()"><i class="fa fa-pause"></i></a>
				</li>
				<li class="full-play" data-toggle="tooltip" data-placement="top" data-title="Fullscreen" data-trigger="hover"> 
					<a class="expand-player" onclick="$('#bg-video').YTPFullscreen()"><i class="fa fa-expand"></i></a>
				</li>
			</ul>
		</nav>
	<!-- End Background -->

	<div class="container-fluid">
		<div class="row">

			<!-- LEFT CONTAINER  -->
			<div id="info" class="col-md-6 text-white text-left page-info col-transform bg-transp">
				<div class="vert-middle padding-left-50">
					<div class="">
				   
						<!-- Logo -->
						<div class="padding-10">
							<img src="assets/img/logo.png" class="animate fade-in animation-time-2s" alt="">
						</div>
						<!-- End Logo -->
						
						<!-- Mine Text -->
						<h1 class="padding-10">Launching in:</h1>
						<!-- End Mine text --> 
						
						<!-- Count Down / Data format MM,DD,YYYY,HH:MM:SS-->
						<div class="count-down padding-10" data-end-date="07,20,2018,00:00:00"></div>
						<!-- End Count Down -->
						
						<!-- Description -->
						<p class="padding-15">
						Crystal - perfect and awesome template to present your future product or service.<br>
						Fully responsive Under Construction template, which is very clean and minimal.
						</p>
						<!-- End Description -->

						<!-- Buttons -->
						<div class="padding-30">
						  <button class="animate button bordered" data-toggle="modal" data-target="#modal-notify">Notify me</button>
						  <button class="animate button show-info" data-href="#content">About Us</button>
						</div>
						<!-- End Buttons -->

						<!-- Social Links -->
						<div class="padding-30">
							<div class="social">
								<a href="#"><span class="fa fa-envelope  fade-in" title="Email"></span></a>
								<a href="#"><span class="fa fa-facebook  fade-in" title="Facebook"></span></a>
								<a href="#"><span class="fa fa-twitter  fade-in" title="Twitter"></span></a>
								<a href="#"><span class="fa fa-instagram  fade-in" title="Instagram"></span></a>
								<a href="#"><span class="fa fa-google-plus  fade-in" title="Google Plus"></span></a>
							</div>
						</div>
						<!-- End Social Links -->

					</div>
				</div>
			</div>
			<!-- END LEFT CONTAINER  -->


			<!-- RIGHT CONTAINER  -->
			<div id="content" class="page-content col-md-6 text-center bg-dark text-white">
				<button class="button-cont-close show-info" data-href="#content"><i class="fa fa-times"></i></button>
				
				<!-- About Section -->
				<section class="padding-30">
					<div class="row">
						<div class="col-md-11 col-sm-offset-05">
						
							<!-- Title -->
							<div class="wrap-line border-dark">
								<h3>About Us</h3>
							</div>
							<!-- End Title -->

							<!-- Description -->
							<div class="text-left">
								<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
							<!-- End Description -->
						
						</div>
					</div>
				</section>  
				<!-- End About Section -->
				
				
				<!-- Portfolio Section -->
				<section class="padding-30"> 
					<div class="col-md-11 col-sm-offset-05">
						
						<!-- Title -->
						<div class="wrap-line border-dark">
							<h3>Portfolio</h3>
						</div>
						<!-- End Title -->
						
					</div>
					
					<!-- Gallery -->		
					<div class="gallery row no-col padding-15">

						<!-- Image 1 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-1.jpg" data-size="900x600">
								<img src="assets/img/folio-1.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 1</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 1 -->

						<!-- Image 2 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-2.jpg" data-size="900x600">
								<img  src="assets/img/folio-2.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 2</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 2 -->
					
						<!-- Image 3 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-3.jpg" data-size="900x600">
								<img  src="assets/img/folio-3.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 3</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 3 -->
					
						<!-- Image 4 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-4.jpg" data-size="900x600">
								<img src="assets/img/folio-4.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 4</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 4 -->
					
						<!-- Image 5 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-5.jpg" data-size="900x600">
								<img  src="assets/img/folio-5.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 5</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 5 -->
					
						<!-- Image 6 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-6.jpg" data-size="900x600">
								<img  src="assets/img/folio-6.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 6</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 6 -->
					
						<!-- Image 7 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-7.jpg" data-size="900x600">
								<img  src="assets/img/folio-7.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 7</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 7 -->
					
						<!-- Image 8 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-8.jpg" data-size="900x600">
								<img  src="assets/img/folio-8.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 8</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 8 -->
					
						<!-- Image 9 -->
						<figure class="col-md-4 col-sm-4 img-hover-effect">
							<a href="assets/img/folio-9.jpg" data-size="900x600">
								<img src="assets/img/folio-9.jpg" alt="Image Title"/>
							</a>

							<span class="img-title">Project 9</span>
							<span class="img-description">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							sed diam nonumy eirmod tempor invidunt ut labore et dolore.
							</span>
							<span class="img-overlay"></span>
						</figure>
						<!-- End Image 9 -->

					</div>
					<!-- End Gallery -->
					
				</section>
				<!-- End Portfolio Section -->
				
				
				<!-- Team Section -->
				<section class="padding-15">
					<div class="row">
						<div class="col-sm-11 col-sm-offset-05">

							<!-- Title -->
							<div class="wrap-line border-dark">
								<h3>Our Team</h3>
							</div>
							<!-- End Title -->

							<!-- Description -->
							<div class="text-left">
								<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
								</p>
							</div>
							<!-- End Description -->
							
							<!-- Member 1 -->
							<div class="col-md-6 col-sm-6 padding-30">
								<div class="person">
										
									<!-- Photo -->
									<div class="image">
										<div class="bg-transfer">
											<img src="assets/img/team-1.jpg" alt="">
										</div>
									</div>
									<!-- End Photo-->
										
									<!-- Name / Post -->
									<h4>Julien Miro</h4>
									<figure>Software Developer</figure>
									<!-- End Name / Post -->
										
									<!-- Social Link -->
									<div class="social center padding-15">
										<a href="#"><span class="fa fa-facebook" title="Facebook"></span></a>
										<a href="#"><span class="fa fa-twitter" title="Twitter"></span></a>
										<a href="#"><span class="fa fa-instagram" title="Instagram"></span></a>
										<a href="#"><span class="fa fa-google-plus" title="Google Plus"></span></a>
									</div>
									<!-- End Social Link -->
									
									<!-- Skill 1 -->
									<div class="skill">
										<h4>Java</h4>
										<aside>80%</aside>
										<figure class="bar">
											<div class="bar-active width-80"></div>
											<div class="bar-background"></div>
										</figure>
									</div>
													
									<!-- Skill 2 -->
									<div class="skill">
										<h4>HTML5</h4>
										<aside>90%</aside>
										<figure class="bar">
											<div class="bar-active width-90"></div>
											<div class="bar-background"></div>
										</figure>
									</div>
													
									<!-- Skill 3 -->
									<div class="skill">
										<h4>CSS3</h4>
										<aside>60%</aside>
										<figure class="bar">
											<div class="bar-active width-60"></div>
											<div class="bar-background"></div>
										</figure>
									</div>
									
								</div>
							</div>
							<!-- End Member 1 -->
								
							<!-- Member 2 -->
							<div class="col-md-6 col-sm-6 padding-30">
								<div class="person">
										
									<!-- Photo -->
									<div class="image">
										<div class="bg-transfer">
											<img src="assets/img/team-2.jpg" alt="">
										</div>
									</div>
									<!-- End Photo-->
										
									<!-- Name / Post -->
									<h4>Joan Williams</h4>
									<figure>Support Operator</figure>
									<!-- End Name / Post -->
										
									<!-- Social Link -->
									<div class="social center padding-15">
										<a href="#"><span class="fa fa-facebook" title="Facebook"></span></a>
										<a href="#"><span class="fa fa-twitter" title="Twitter"></span></a>
										<a href="#"><span class="fa fa-instagram" title="Instagram"></span></a>
										<a href="#"><span class="fa fa-google-plus" title="Google Plus"></span></a>
									</div>
									<!-- End Social Link -->
									
									<!-- Skill 1 -->
									<div class="skill">
										<h4>Bootstrap</h4>
										<aside>50%</aside>
										<figure class="bar">
											<div class="bar-active width-50"></div>
											<div class="bar-background"></div>
										</figure>
									</div>
													
									<!-- Skill 2 -->
									<div class="skill">
										<h4>PHP</h4>
										<aside>100%</aside>
										<figure class="bar">
											<div class="bar-active width-100"></div>
											<div class="bar-background"></div>
										</figure>
									</div>
													
									<!-- Skill 3 -->
									<div class="skill">
										<h4>Marketing</h4>
										<aside>70%</aside>
										<figure class="bar">
											<div class="bar-active width-70"></div>
											<div class="bar-background"></div>
										</figure>
									</div>
										
								</div>
							</div>
							<!-- End Member 2 -->
							
						</div>
					</div>
				</section>
				<!-- End Team Section -->
				

				<!-- Contact Section -->
				<section class="padding-15">
					<div class="row">
						<div class="col-sm-11 col-sm-offset-05">

							<!-- Title -->
							<div class="wrap-line border-dark">
								<h3>Contact Us</h3>
							</div>
							<!-- End Title -->

							<!-- Description -->
							<div class="padding-15 text-left">
								<p>
								Want to say hello? Want to know more about us? Drop us an email and we will get back to you as soon as we can.
								</p>
							</div>
							<!-- End Description -->

							<!-- Contact Form -->
							<div class="contactForm">
								<form action="bat/mailform_captcha.php" method="post" class="mailform row">
									<fieldset>
									<div class="cf_response"></div>
										
									<div class="col-md-6"> 
										<label> 
											<input type="text" name="name" id="cf_name" placeholder="Your Name" value="" tabindex="1"  required> 
										</label> 
									</div>
										
									<div class="col-md-6">
										<label> 
											<input type="text" name="email" id="cf_email" placeholder="Your E-mail" value="" tabindex="1" required> 
										</label>
									</div> 

									<div class="col-md-12">
										<label> 
											<textarea name="message" id="cf_message" placeholder="Your Message" tabindex="4" required></textarea> 
										</label> 
									</div>		
									
									<!-- ReCaptcha code -->
									<div class="col-md-6 col-sm-6">
										<div class="g-recaptcha" data-sitekey="xxxx" data-theme="dark" style="transform:scale(0.66);-webkit-transform:scale(0.66);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
									</div>
									<!-- End ReCaptcha code -->
										
									<div class="col-md-6 col-sm-6 text-right">
										<button class="button rounded" type="submit">Send My Message</button>
									</div>
									</fieldset>
								</form>
							</div>
							<!-- End Contact Form -->

						</div>
					</div>
				</section>
				<!-- End Contact Section -->	
				
				<!-- Get In Toch Section -->
				<section class="padding-15">
					<div class="col-mg-11 col-sm-offset-05">
					
						<!-- Title -->
						<div class="wrap-line border-dark">
							<h3>Get In Touch</h3>
						</div>
						<!-- End Title -->
					
						<div class="row">
							<div class="col-md-4 col-sm-4 ">

								<!-- Address -->
								<div class="padding-15">
									<i class="fa-lg fa fa-map-o"></i>
								</div>
								<div class="padding-15">
									<h4><strong>Address</strong></h4>
									<p>Belarus, Minsk,<br> Pobeditelei ave. 24</p>
								</div>
								<!-- End Address -->

							</div>

							<div class="col-md-4 col-sm-4 ">

								<!-- Phones -->
								<div class="padding-15">
									<i class="fa-lg fa fa-phone"></i>
								</div>
								<div class="padding-15">
									<h4><strong>Phones</strong></h4>
									<p><a href="tel:+13843843843">+1 384-384-3843</a><br><a href="tel:+13843843853">+1 384-384-3853</a></p>
								</div>
								<!-- End Phones -->

							</div>

							<div class="col-md-4 col-sm-4">

								<!-- Email -->
								<div class="padding-15">
									<i class="fa-lg fa fa-envelope-o"></i>
								</div>
								<div class="padding-15">
									<h4><strong>E-mails</strong></h4>
									<p><a href="mailto:">info@mail.com</a><br><a href="mailto:">info2@mail.com</a></p>
								</div>
								<!-- End Email -->

							</div>
						</div>
					</div>
				
					<!-- Map Section -->
					<div class="row no-col map text-grey">
						<div id="map" class="col-sm-12"></div>
					</div>
					<!-- End Map Section -->
					
				</section>
				<!-- End Get In Touch Section -->
				
				<!-- Get In Toch Section -->
				<section class="padding-10">
					<div class="col-mg-11 col-sm-offset-05">
						<h6>
						© 2017 by <a href="http://artsoundgroup.com">ArtSoundGroup</a>
						</h6>	
					</div>
				
				</section>
				<!-- End Get In Touch Section -->
				
			</div>
			<!-- END RIGHT CONTAINER -->
		</div>
	</div>

</div>
<!-- END PAGE -->


<!-- MODAL SUBSCRIBE -->
<div id="modal-notify" class="modal fade modal-scale" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		   <div class="text-center">
			<div class="modal-content">
				
				<!-- Close Button -->
				<button class="button-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
				<!-- End Close Button -->

				<!-- Title -->
				<div class="wrap-line border-dark">
					<h3>SUBSCRIBE</h3>
				</div>
				<!-- End Title -->

				<!-- Description -->
				<div class="padding-15">
					<p>Enter your email address to get notified when site is ready</p>
				</div>
				<!-- End Description -->

				<div class="padding-15">

					<!-- Subscribe Form -->
					<form id="mc-form">
						<div class="input-group">
							<input type="email" id="email" class="form-control form-control-light" name="email" placeholder="Your Email">
								<span class="input-group-btn">
									<button type="submit" class="animate button-sub"><i class="fa fa-paper-plane"></i></button>
								</span>
						</div>

						<div id="message-newsletter" class="message-wrapper text-white message">
							<span><label class="message-text" for="email"></label></span>							</div>
					</form>
					<!-- End Subscribe Form -->

				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MODAL SUBSCRIBE -->


<!-- PHOTOSWIPE -->
	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
			
		<!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader - active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
<!-- END PHOTOSWIPE -->




<!-- Scripts -->
<script src="assets/js/plugins/jquery-2.2.4.min.js"></script>
<script src="assets/js/plugins/bootstrap.min.js"></script>
<script src="assets/js/plugins/scrollreveal.min.js"></script>
<script src="assets/js/plugins/newsletter-form.js"></script>
<script src="assets/js/plugins/mailform.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/plugins/photoswipe/photoswipe.min.js"></script>
<script src="assets/js/plugins/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="assets/js/plugins/jquery.countdown.min.js"></script>
<script src="assets/js/plugins/vegas.js"></script>
<script src="assets/js/plugins/jquery.mb.YTPlayer.min.js"></script>

<!-- Google reCaptcha required javascript file -->
<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Google Map -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback"></script>

<!-- Custom Script -->
<script src="assets/js/custom.js"></script>

</body>
</html>
