<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Pham Add</title>
    <script src="./jquery.js"></script>
    <link rel="stylesheet" href="./SP_Add/SP_Add.css" />
    <script src="./SP_add/xuly.js"></script>
</head>
<body>
    <h2>Sản Phẩm New</h2>
    <form action="./SP_Add" method="POST">
        <div class="inputSP">
            <input type="text" name="txt_Ten" id="txt_Ten" placeholder="Tên sản phẩm" />
        </div>

        <div class="inputSP">
            <input type="text" name="txt_Gia" id="txt_Gia" placeholder="Giá sản phẩm" />
        </div>
        
        <div class="inputSP">
            <textarea name="txt_MoTa" id="txt_MoTa" cols="30" rows="10"></textarea>
        </div>
        
        <div class="inputSP">
        <select name="slcNhom" id="slcNhom">
            <option value="">Mới nhất</option>
        </select>
        </div>
        
        <div class="inputSP nhom">

            <select name="slcLoai" id="slcLoai">
                <% mangLoaiSP.forEach(function(loaiSP){ %>
                    <option value="<%- loaiSP._id %>"><%- loaiSP.Ten %></option>
                <% }) %>
                
            </select>

            <div id="quanlyLoaiSP">
                <input type="button" value="Quản lí Loại S" id="btnFrmLoaiSP">
                <div id="formLoaiSP">
    
                    <input type="text" id="txtTenLoaiSP" placeholder="Tên Loại SP" />
                    <input type="button" id="btnThemLoaiSP" value="Thêm Loại SP" />
                    <div id="dsLoaiSP">
                        <table id="tblLoaiSP">
                            <% mangLoaiSP.forEach(function(loaiSP){ %>
                                <tr>
                                    <td class="rowLoaiSP"><%- loaiSP.Ten %></td>
                                    <td></td>
                                </tr>
                            <% }) %>
                    
                        </table>
                    </div>
                </div>
            </div>
        
        </div>

        
        <div class="inputSP">
            <input type="file" name="fileHinhSP" id="fileHinhSP" />
        </div>
    </form>
</body>
</html>